<div class="box">
  <div class="box-header">
    <div class="me-auto">
      <h4 class="card-title">Project Category</h4>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
  </div>
  <div class="box-body pt-0">
    <div class="row">
      <div class="col-6 col-xl-12 w-sm-100 mb-0">
        <ul class="box-list mt-26 pr-67">
          <li><span class="bg-blue square"></span>Web Design<span>25%</span></li>
          <li><span class="bg-success square"></span>UX/UI Design<span>18%</span></li>
          <li><span class="bg-warning square"></span>Graphics Design<span>17%</span></li>
          <li><span class="bg-blue square"></span>Motion Design<span>12.50%</span></li>
          <li><span class="bg-success square"></span>Brand Identity<span>12.50%</span></li>
          <li><span class="bg-warning square"></span>Others<span>12.50%</span></li>
        </ul>
      </div>
      <div class="col-6 col-xl-12 w-sm-100 mb-0">
        <div class="canvas-container">
          <canvas id="chartjs-4" class="chartjs" width="100" height="100"></canvas>
          <div class="chart-data">
            <div data-percent="25" data-color="#3C21F7" data-label="Web Design"></div>
            <div data-percent="18" data-color="#00BC8B" data-label="UX/UI Design"></div>
            <div data-percent="17" data-color="#FFB800" data-label="Graphics Design"></div>
            <div data-percent="12.5" data-color="#00ECCC" data-label="Motion Design"></div>
            <div data-percent="12.5" data-color="#EF7F5A" data-label="Brand Identity"></div>
            <div data-percent="12.5" data-color="#5D45FB" data-label="Others"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>