{% load static %}

<div class="box">
  <div class="box-header pt-0">
    <div class="me-auto">
      <h4 class="card-title mb-0">Message</h4>
    </div>
  </div>
  <div class="box-body pb-0 pt-39">
    <ul class="message mb-2">
      <li class="dlab-chat-user">
        <div class="d-flex bd-highlight">
          <div class="img_cont">
            <img src="{% static 'protend/images/avatar/message-01.png' %}" class="rounded-circle user_img" alt=""/>
          </div>
          <div class="user_info">
            <a class="h6" href="message.html">Richard Coleman</a>
            <p class="fs-14 mb-0">Hi Jackma! How are you?</p>
          </div>
        </div>
      </li>
      <li class="dlab-chat-user">
        <div class="d-flex bd-highlight">
          <div class="img_cont border-pink">
            <img src="{% static 'protend/images/avatar/message-02.png' %}" class="rounded-circle user_img" alt=""/>
          </div>
          <div class="user_info">
            <a class="h6" href="message.html">Jessica Elliot</a>
            <p class="fs-14 mb-0">Do you need like the Color, typography and spacing? </p>
          </div>
        </div>
      </li>
      <li class="dlab-chat-user">
        <div class="d-flex bd-highlight">
          <div class="img_cont border-green">
            <img src="{% static 'protend/images/avatar/message-03.png' %}" class="rounded-circle user_img" alt=""/>
          </div>
          <div class="user_info">
            <a class="h6" href="message.html">Steve Ford</a>
            <p class="fs-14 mb-0">Can I your budget?</p>
          </div>
        </div>
      </li>
      <li class="dlab-chat-user">
        <div class="d-flex bd-highlight">
          <div class="img_cont border-blue">
            <img src="{% static 'protend/images/avatar/message-04.png' %}" class="rounded-circle user_img" alt=""/>
          </div>
          <div class="user_info">
            <a class="h6" href="message.html">Mary Ann Lucas</a>
            <p class="fs-14 mb-0">Looks Good. Please go forward!</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>