<div class="box">
  <div class="box-header">
    <h4 class="box-title mb-22">Daily Task</h4>
  </div>
  <div class="box-body">
    <div class="content-item mb-wrap">
      <div class="left">
        <h5 class="font-w500">10:00</h5>
      </div>
      <div class="right bg-orange">
        <div class="content-box w-100">
          <h5 class="font-wb text-white fs-20">iOs Dev team meeting</h5>
          <h6 class="font-w400 text-w07">10:00 - 11:00</h6>
        </div>
      </div>
    </div>
    <div class="content-item mb-wrap mb-32">
      <div class="left">
        <h5 class="font-w500">11:00</h5>
      </div>
      <div class="right d-flex pd-0">
        <div class="content-box bg-yellow">
          <h5 class="font-wb text-white fs-20">Design meeting</h5>
          <h6 class="font-w400 text-w07">11:00 - 11:30</h6>
        </div>
        <div class="content-box bg-blue">
          <h5 class="font-wb text-white fs-20">SEO meeting</h5>
          <h6 class="font-w400 text-w07">11:30 12:00</h6>
        </div>
      </div>
    </div>
    <div class="content-item mb-0 mb-wrap">
      <div class="left">
        <h5 class="font-w500">12:00</h5>
      </div>
      <div class="right bg-light">
        <div class="content-box w-100">
          <h5 class="font-w500">Lunch Break</h5>
          <h6 class="font-w400 mt-10">12:00 - 1:00</h6>
        </div>
      </div>
    </div>
  </div>
</div>