{% load static %}

<div class="box">
  <div class="box-body d-flex pb-0">
    <div class="me-auto">
      <h5 class="box-title">Total Clients</h5>
      <div class="d-flex align-items-center">
        <h4 class="mb-0 font-wb fs-30 mt-23">78</h4>
        <div class="text-primary transaction-caret">
          <i class="bx bxs-up-arrow"></i>
          <p class="mb-0 text-primary fs-18 font-w400 mt-14 ml-7">+0.5%</p>
        </div>
      </div>
    </div>
    <div class=" donut-chart-sale">
      <span class="donut-1"
            data-peity='{ "fill": ["#3C21F7", "rgba(236, 236, 236, 1)"],   "innerRadius": 27, "radius": 10}'>7/9</span>
      <small class="">76%</small>
    </div>
  </div>
</div>