{% load static %}

<div class="row">
  <div class="col-12">
    <div class="box card-box">
      <div class="icon-box bg-color-1">
        <div class="icon bg-icon-1">
          <i class="bx bxs-bell bx-tada bx-tada"></i>
        </div>
        <div class="content">
          <h5 class="title-box">Notification</h5>
          <p class="color-1 mb-0 pt-4">5 Unread notification</p>
        </div>
      </div>
      <div class="icon-box bg-color-2">
        <div class="icon bg-icon-2">
          <i class='bx bxs-message-rounded'></i>
        </div>
        <div class="content click-c">
          <h5 class="title-box">Message</h5>
          <p class="color-2 mb-0 pt-4">5 Unread notification</p>
        </div>
        <div class="notification-list card">
          <div class="top box-header">
            <h5>Notification</h5>

          </div>
          <div class="pd-1r">
            <div class="divider"></div>
          </div>

          <div class="box-body">
            <ul class="list">
              <li class="d-flex no-seen">
                <div class="img-mess"><img class="mr-14" src="{% static 'protend/images/avatar/avt-1.png' %}" alt="avt">
                </div>
                <div class="info">
                  <a href="#" class="font-w600 mb-0 color-primary">Elizabeth Holland</a>
                  <p class="pb-0 mb-0 line-h14 mt-6">Proin ac quam et lectus vestibulum</p>
                </div>
              </li>

              <li class="d-flex">
                <div class="img-mess"><img class="mr-14" src="{% static 'protend/images/avatar/avt-1.png' %}" alt="avt">
                </div>
                <div class="info">
                  <a href="#" class="font-w600 mb-0 color-primary">Elizabeth Holland</a>
                  <p class="pb-0 mb-0 line-h14 mt-6">Proin ac quam et lectus vestibulum</p>
                </div>
              </li>

            </ul>
            <div class="btn-view">
              <a class="font-w600 h5" href="message.html">View All</a>
            </div>
          </div>

        </div>
      </div>
      <div class="icon-box bg-color-3">
        <a class="create d-flex" href="calendar.html">
          <div class="icon bg-icon-3">
            <i class="bx bx-calendar"></i>
          </div>
          <div class="content">
            <h5 class="title-box">Calendar</h5>
            <p class="color-3 mb-0 pt-4">5 Unread notification</p>
          </div>
        </a>
      </div>
      <div class="icon-box bg-color-4">
        <a class="create d-flex" href="#" data-toggle="modal" data-target="#add_project">
          <div class="icon bg-white">
            <i class="bx bx-plus"></i>
          </div>
          <div class="content d-flex align-items-center">
            <h5 class="color-white">Create New Project</h5>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>