{% load static %}

<div class="box">
  <div class="box-body d-flex pb-0">
    <div class="me-auto">
      <h5 class="box-title mb-36">Total Task Done</h5>
      <div class="progress skill-progress mb-10" style="height:10px;">
        <div class="progress-bar bg-primary progress-animated" style="width: 78%; height:10px;" role="progressbar">
          <span class="sr-only">78% Complete</span>
        </div>
      </div>
      <p class="fs-16 mb-0 mt-2"><span class="text-primary">87 </span>left from target</p>
    </div>
    <h4 class="numb font-wb fs-30">34</h4>
  </div>
</div>